* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: var(--body-color);
}

:root {
    --base-color: #00669f;
    --base-color-second: #1cd1b0;
    --body-color: #f3f3f3;
    --text-color: black;
    --title-color-light: #fff;
}

.BarDiscont {
    background: var(--base-color-second);
}
header {
    background-color: var(--base-color);
    position: sticky;
    top: 0px;
}
.cards {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 31.25rem;
    height: 50rem;
    margin: 1.25rem;
    background-color: var(--title-color-light);
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.card__background {
    background-position: center;
    background-size: cover;
    width: 31.25rem;
    height: 18.75rem;
    border-radius: 20px 20px 0 0;
}
.card__avatar {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    margin-top: 200px;
}
.card__info {
    margin: 120px 50px;
}
.card__description {
    margin-top: 30px;
}
.card__info button {
    margin-top: 30px;
    background-color: #00669f;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
footer {
    width: 100%;
    background-color: #00669f;
    color: white;
    text-align: center;
    bottom: 0;
}
