@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #13141a;
}
header {
  text-align: center;
  background-color: #383a59;
}
h1 {
  color: white;
}
h2 {
  color: #bd93f9;
}
p {
  color: #bdbdbd;
}
footer a {
  color: #be4c91;
}
.review-score {
  background-color: #f6921d;
  color: white;
  padding: 10px;
}
.review {
  padding: 10px;
}

.media-picture {
  height: 550px;
  background-image: url("../img/lord-of-the-rings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
