* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #f3f3f3;
  height: 100vh;
  width: 100%;
}
.BarDiscont {
  background: #1cd1b0;
}
header {
  background-color: #00669f;
  top: 0;
}
body .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 750px;
  margin: 20px;
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.card__background {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 300px;
  border-radius: 20px 20px 0 0;
}
.card__avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  margin-top: 200px;
}
.card__info {
  margin: 120px 50px;
}
.card__description {
  margin-top: 30px;
}
.card__info button {
  margin-top: 30px;
  background-color: #00669f;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
}
footer {
  height: 30px;
  bottom: 0;
  width: 100%;
  background-color: #00669f;
  color: white;
  text-align: center;
}
